body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #d4d4d4;
}

header{
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    background-color: #151613;
    color: #d4d4d4;
    font-family: 'Times New Roman', Times, serif;
}

header > a{
    text-decoration: none;
    color: #d4d4d4;
}

main{
    padding: 40px;
}

main > button {
    margin-bottom: 18px;
}

#sheet{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    width: 97%;
    background-color: whitesmoke;
}

#informations{
    width: 61.8%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

#informations h2{
    margin-top: 0;
    font-size: 3em;
}

#informations > p{
    margin: 5px;
    font-size: 23px;
}

#material{
    position: relative;
}

#dropdown-btn {
    margin-top: 15px;
    width: 38.19%;
    height: 50px;
    text-align: center;
    font-size: 23px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: black;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    top: 28%;   /*pas toucher !! au MILIMETRE !!! */
    left: 39%;   /*pas toucher !! au MILIMETRE !!! */
    background: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 150px;
    display: none;
    z-index: 42;
}

.dropdown-content li {
    padding: 10px;
    cursor: pointer;
}

#informations > button{
    margin-top: 1em;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 1.8em;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: black;
}

#img-container{
    margin-left: 20px;
    width: 473.23px;
    height: 100%;
    overflow: hidden;
}

#img-container > img{
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
}





@media screen and (max-width: 1024px) {
    #sheet{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column-reverse;
        height: 120vh;
        width: 95%;
    }
    
    #img-container{
        width: 100%;
        height: 50%;
        overflow: hidden;
        margin: 0;
    }

    #img-container > img{
        width: 100%;
        height: 100%;
        background-size: cover;
        object-fit: cover;
    }

    #informations{
        height: 48.19%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #informations h2{
        margin-top: 40px;
    }

    #informations p{
        width: 38.8%;
        margin: 10px 0 10px;
    }

    #informations > button{
        margin-top: 2em;
        height: 75px;
    }

    #dropdown-btn {
        margin-top: 50px;
    }
}