body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #d4d4d4;
}

header{
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    background-color: #151613;
    color: #d4d4d4;
    font-family: 'Times New Roman', Times, serif;
}

main{
    padding: 40px;
}

.search-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-container{
    margin-bottom: 33px;
    padding: 20px;
    width: 400px;
    height: 15px;
}


#filtr-container{
    margin-bottom: 33px;
    padding: 10px;
    width: 80px;
    height: 10px;
    font-size: large;
    position: relative;
}

#filtr-container > p{
    padding: 8px;
}

.glass-effect{
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    color: black;
    font-size: 1.2rem;
}

.glass-effect > * {
    all: unset;
    background-color: transparent;
}

.glass-effect > input {
    width: 85%;
}

#dropdown-btn {
    width: 38.19%;
    height: 50px;
    text-align: center;
    font-size: 23px;
    background: transparent;
    color: black;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    top: 117%;   /*pas toucher !! au MILIMETRE !!! */
    left: -62%;   /*pas toucher !! au MILIMETRE !!! */
    background: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 150px;
    display: none;
    z-index: 42;
}

.dropdown-content li {
    padding: 10px;
    cursor: pointer;
}

#container-product{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}

#container-product > * {
    margin: 15px;
}

.Card {
    text-decoration: none;
    color:black
}

.productCard {
    margin-bottom: 20px;
    padding: 25px 20px 25px;
    width: 200px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color:  rgb(236, 236, 236);
    border-radius: 9px;
    color: black;
    transition: background-color 0.3s ease-in-out;
}

.futureImg {
    height: 180px;
    width: 100%;
    background-color: #151613;
    background-size: cover;
    object-fit: cover;
}

.futureImg > img{
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.fastInformations{
    width: 100%;
}

.fastInformations > * {
    margin: 6px 10px 0;
}