<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DWS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/searchPageStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-6.7.2-web/css/all.css') }}"> 
</head> 
<body>
    <header>
        <a href="{{ url_for('main.index') }}" id="main-link"><h1>Scraping Extime</h1></a>
        <h2>Dernière mise à jour : {{ scraped_date }}</h2>

    </header>
    <main>
        <section class="action-line">
            <div id="search-container" class="glass-effect">
                <input id="search-input" type="text" placeholder="">
                <button id="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>

            <div id="filtr-scrap-container">
                <!-- <div id="filtr-container" class="glass-effect">
                    <button id="dropdown-btn">Filtrer  <i class="fa-solid fa-caret-down"></i></button>
                    <ul id="dropdown-menu" data-value="category" class="dropdown-content">
                        <li data-value="Parfum">Parfum</li>
                        <li data-value="Campagne">Campagne</li>
                        <li data-value="Vin">Vin</li>
                        <li data-value="Spiritueux">Spiritueux</li>
                    </ul>
                </div> -->

                <div id="scrap-container" class="glass-effect">
                    <button id="scrap-btn" type="button">Lancer le scraping <i class="fa-solid fa-globe"></i></button>
                </div>
            </div>
        </section>
        <div id="log-output">
            
        </div>

        <div id="container-product">
        
        </div>

        <div id="pagination">
            <ul id="pagiUl" class="glass-effect">
                <li><a href="#" id="previous-link">Précédent</a></li>
                <li><span id="pagination-numbers"></span></li>
                <li><a href="#" id="next-link">Suivant</a></li>
            </ul>
        </div>
        <div id="search-pagi-container">
            <div id="search-pagination" class="pagination-container glass-effect" style="display: none;">
                <!-- <ul id="searchPageUl" class="glass-effect">
                    <li><a href="#" id="previous-search">Précédent</a></li>
                    <li><span id="search-pagination-numbers"></span></li>
                    <li><a href="#" id="next-search">Suivant</a></li>
                </ul> -->
            </div>
        </div>

        <div id="overlay" style="display: none;">
            <div id="alert-message" class="glass-effect" style="display: none;">
                <h2>Attention !</h2>
                <p>Etes vous sûre de vouloir effectuez cette action ? Elle aura un impact sur les données qu'utilise cette aplication.</p>
                <div id="btns">
                    <button id="yes-alert-btn" type="button">Oui, allons-y</button>
                    <button id="no-alert-btn" type="button">Finalement non</button>
                </div>
            </div>
        </div>
        

        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/alert_modal.js') }}"></script>

</main>
</body>
</html>