<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/productSheetStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-6.7.2-web/css/all.css') }}"> 
</head> 
<body>
    <header>
        <a href="{{ url_for('main.index') }}"><h1>Scraping Extime</h1></a>
        <h2>Dernière mise à jour : {{product.scraped_date}}</h2>
    </header>
    <main>
        <!-- <div id="left-arrow">
            <button type="button"><i class="fa-regular fa-square-caret-left"></i></button>
        </div> -->
        <div id="sheet">
            <div id="informations">
                <form id="form-product" action="/submit" method="get">
                    <input id="name-product" type="text" value="{{ product.name }}"></input>

                    <label for="category">Catégorie : </label>
                    <input id="category" type="text" value="{{ product.categorie }}">

                    <label for="brand">Marque : </label>
                    <input id="brand" type="text" value="{{ product.brand }}">

                    <label for="volume">Volume : </label>
                    <input id="volume" type="text" value="{{ product.volume }}">

                    <label for="net_weight">Poids net : </label>
                    <input id="net_weight" type="text" value="{{ product.net_weight }}">
                </form>
                
                <div id="material">
                    <button id="dropdown-btn">Matériau</button>                
                    <ul id="dropdown-menu" data-value="material" class="dropdown-content">
                        <li data-value="Aluminium">Aluminium</li>
                        <li data-value="Or">Or</li>
                        <li data-value="Vibranium">Vibranium</li>
                    </ul>
                </div>

                <button type="submit">Sauvegarder</button>
            </div>
            <div id="img-container">
                <img src="{{ url_for('static', filename='images/image.webp') }}" alt="Description de l'image">
            </div>
        </div>
        <!-- <div id="right-arrow">
            <button type="button"><i class="fa-regular fa-square-caret-right"></i></button>
        </div> -->

        <script src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
    </main>
</body>
</html>
